# Random group generator for Latin-squaring
Table Creator for PennController Experiments

In [1]:
import pandas as pd
from pandas import DataFrame
from sklearn.preprocessing import scale
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl 
import os
import csv

In [2]:
bn_cats = pd.read_csv("bn_cats.csv")
bn_facts = pd.read_csv("bn_facts.csv")
cb_cats = pd.read_csv("cb_cats.csv")
cb_facts = pd.read_csv("cb_facts.csv")

In [3]:
len(bn_cats)

36

We want to substitute in the value of Token in each facts.csv with every possible Token from the respective cats.csv

## Add the .csv of factors to the .csv of tokens to create the whole file with all combinations of factors and tokens/categories

In [4]:
bn_facts["temp"] = "1"
bn_cats["temp"] = "1"
cb_facts["temp"] = "1"
cb_cats["temp"] = "1"

In [5]:
bn_facts.head()

,SentNumber,Quantifier,Matrix,WhichCategory,Subject,Predicate,Group,SentType,Verb,Embedded,temp
0,1,some,NaN,Matching,Token,Category,NaN,T1,none,0,1
1,2,some,Zoologists knows that,Matching,Token,Category,NaN,T1,know,1,1
2,3,some,Zoologists says that,Matching,Token,Category,NaN,T1,say,1,1
3,4,some,NaN,Mismatching,Token,Category,NaN,T3,none,0,1
4,5,some,Zoologists knows that,Mismatching,Token,Category,NaN,T3,know,1,1

Add the two .csv files together in the right way

In [6]:
bn_table = pd.merge(bn_facts,bn_cats, on="temp").drop("temp", axis=1).rename(columns={"Token_x" :"Token"})
bn_table.to_csv("bn_table.csv", header=True)

In [7]:
cb_table = pd.merge(bn_facts,bn_cats, on="temp").drop("temp", axis=1).rename(columns={"Token_x" :"Token"})
# cb_table.to_csv("cb_table.csv", header=True)

In [8]:
bn_table = bn_table.drop(columns=["Group"])
cb_table = cb_table.drop(columns=["Group"])

## Make the grouping function

In [9]:
# import random

# def chunks(l, n):
#     """Yield successive n-sized chunks from l."""
#     for i in range(0, len(l), n):
#         yield l[i:i + n]

# n = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']

# random.shuffle(n)

# list(chunks(n, 3))

In [10]:
# size = 18        # sample size
# replace = False  # with replacement
# fn = lambda obj: obj.loc[np.random.choice(obj.index, size, replace),:]
# bn_table.groupby('grouper', as_index=False).apply(fn)

In [11]:
# this almost works but i don't want doubles of the 'token' column

# t = bn_table.groupby('SentNumber').apply(lambda x :x.iloc[random.choice(range(0,len(x)))]).reset_index(drop=True)

In [12]:
len(bn_table)

1296

In [13]:
# need to first add the additional column name
names = bn_table.columns
g = "Group"
# names.append([g])

In [14]:
# convert the df to list
bn_list = []
for index,rows in bn_table.iterrows():
    my_list =[rows.Token, rows.MatchingCategory, rows.MismatchingCategory, rows.SentNumber, rows.Quantifier,rows.Matrix, 
             rows.WhichCategory, rows.Subject, rows.Predicate, rows.SentType, rows.Verb, rows.Embedded]
    
    bn_list.append(my_list)

 Get a list of the letters which will be the different group names

In [15]:
# Make a list of the Alphabet 
import string
alphabets = string.ascii_uppercase
Group = []
for i in alphabets:
    Group.append(i)
Group = Group[0:18]

In [16]:
a = Group[0]
a

'A'

## Pseudorandomizer 
What I want to do is, for everything that's the same SentNumber (36 of each), append A-R (but i have to go through A-R twice)

In [37]:
# This code just makes one 36 long sub-list, but doesn't iterate over the letters in the right way
new = []
# Append the value of Group to the sub-list
for ind, i in enumerate(bn_list):
# for i, ind in enumerate(bn_list):
    # Counter for bn_list
    # Start at 1, for SentType (1 out of 36)
    n=0 
    # Counter for Group
    # Start at -1, so then can increment +1 to get 'A' which is at index 0 
    k=-1 
    # Append the value of Group to the sub-list
#     if i[3] == n+1: # here is where i try to increment
#         i.append(Group[k+1]) # Append to the list the letter at the same index in Group
#         new.append(i)
    if i[3] == n+1: 
        i.append(Group[k+1])
        new.append(i)
#         print(ind)
#     print(len(new))
new_df = pd.DataFrame(new)

In [38]:
bn_list
len(bn_list)

1296

In [39]:
len(new_df)

36

In [28]:

# for i in bn_list:
# # for i, ind in enumerate(bn_list):
#     # Counter for bn_list
#     # Start at 1, for SentType (1 out of 36)
#     n=0 
#     # Counter for Group
#     # Start at -1, so then can increment +1 to get 'A' which is at index 0 
#     k=-1 
#     # Append the value of Group to the sub-list
# #     if i[3] == n+1: # here is where i try to increment
# #         i.append(Group[k+1]) # Append to the list the letter at the same index in Group
# #         new.append(i)
#     if i[3] == n+1: 
#         i.append(Group[k+1])
#         new.append(i)
# #         print(ind)
# #     print(len(new))
# new_df = pd.DataFrame(new)

In [29]:
# This just makes them all the same letter

In [40]:
# len(new_df)

In [41]:
# this appends all items in Group to l
for l in bn_list:
    for g in Group:
        l.append(g)

In [48]:
print(g)

R

Almost

In [42]:
import itertools
from itertools import cycle

In [47]:
len(bn_list)

1296

In [43]:
# this is very close, but it's returning 72 items rather than 36
test = list(zip(bn_list, cycle(Group)))
test = pd.DataFrame(test)

In [46]:
# Why is it returning 72 items???
len(test.loc[test[1] == "B"])

72

Attempt!!!!! This doesn't stop running

In [ ]:
new = []

# Counter for bn_list
# Start at 1, for SentType (1 out of 36)
n=0 
# Counter for Group
# Start at -1, so then can increment +1 to get 'A' which is at index 0 
k=-1 
# Append the value of Group to the sub-list
for i in bn_list:
    
    hold_me = []
    # Append the value of Group to the sub-list
    if i[3] == n+1: # 
        h = hold_me.append(i)
        
        new.append(list(zip(itertools.repeat(h),cycle(Group))))
        
        # add one to the counters
        n+=1
        k+=1

In [ ]:
# new_df = pd.DataFrame(new)